#vditor code {
    color: aliceblue;
}

.chroma .kd,
#vditor .hljs-keyword {
    color: #ff5c57 !important;
}
/*变量 */
.chroma .nx {
    color: aliceblue;
}
/* = */
.chroma .o {
    color: #ff6ac1;
}
/* try */
.chroma .k {
    color: #ff6ac1;
}
/* 标点 */
.chroma .p {
}

.chroma .nb,
#vditor .hljs-built_in {
    color: aquamarine;
}

.chroma .s2,
#vditor .hljs-string {
    color: #5af78e;
}
/* 数字 */
.chroma .mi,
#vditor .hljs-number {
    color: #ff9f43;
}
/* 注释 */
.chroma .cl {
    color: #78787e;
}
