* {
    border-color: #e5e7eb;
}

.dark * {
    border-color: #2c3f4f;
}

.highlight {
    background: #ffe34e;
    padding: 0.225rem 0.175rem;
}
.dark .highlight {
    background: #5d5d5d;
    padding: 0.225rem 0.175rem;
}
.dark body::before {
    opacity: 0;
}
.dark .chroma tr {
    background: #1b1b1b;
}
.dark .main code {
    background: #1b1b1b;
}
.dark .copy-button {
    background: #5d5d5d;
}

.main table {
    border-color: #1e293b;
    padding: 1rem;
}
.dark table tr {
    background-color: transparent;
}

.dark table tbody tr:nth-child(2n) {
    background-color: #060708;
}

.dark .vditor-reset {
    color: aliceblue;
}

.dark .vditor-reset table tr {
    background-color: transparent;
}
.dark .vditor-reset table tr:nth-child(2n) {
    background-color: #0f172a;
}

.dark .vditor-ir__node--expand {
    background-color: #222835;
}

.dark .vditor-ir__node--expand code {
    color: #e5e7eb !important;
}
