.dark {
    --color-bg-base: rgb(18, 18, 18);
    --color-bg-card: rgb(34, 34, 34);

    --color-bg-header: rgb(24, 24, 24);
    --color-bg-footer: rgb(20, 20, 20);

    --color-btn-primary: rgb(10, 132, 255);
    --color-btn-secondary: rgb(88, 86, 214);
    --color-btn-danger: rgb(255, 69, 58);
    --color-tooltip-bg: rgb(44, 44, 46);

    --color-text-base: rgb(229, 229, 229);
    --color-text-muted: rgb(153, 153, 153);
    --color-text-inverse: rgb(0, 0, 0);

    --color-border-base: rgb(104, 104, 104);
    --color-border-muted: rgb(70, 70, 70);

    --color-link-base: rgb(10, 132, 255);
    --color-link-hover: rgb(64, 156, 255);
}