:root {
    --color-bg-base: rgb(245, 245, 245);
    --color-bg-card: rgb(255, 255, 255);

    --color-bg-header: rgb(230, 230, 230);
    --color-bg-footer: rgb(220, 220, 220);

    --color-btn-primary: rgb(34, 139, 230);
    --color-btn-secondary: rgb(100, 100, 100);
    --color-btn-danger: rgb(255, 59, 48);
    --color-tooltip-bg: rgb(0, 0, 0);

    --color-text-base: rgb(33, 37, 41);
    --color-text-muted: rgb(108, 117, 125);
    --color-text-inverse: rgb(255, 255, 255);

    --color-border-base: rgb(189, 189, 189);
    --color-border-muted: rgb(217, 217, 217);

    --color-link-base: rgb(0, 123, 255);
    --color-link-hover: rgb(0, 86, 179);
}