.dark {
    --color-bg-base: rgb(18, 18, 18);
    --color-bg-card: rgb(34, 36, 38);

    --color-bg-header: rgb(24, 24, 24);
    --color-bg-footer: rgb(20, 20, 20);

    --color-primary: rgb(28, 110, 183);
    --color-secondary: rgb(75, 0, 150);
    --color-danger: rgb(207, 48, 38);
    --color-warn: rgb(207, 127, 8);
    --color-success: rgb(42, 159, 71);
    --color-info: rgb(72, 160, 200);

    --color-bg-primary: rgb(28, 110, 183);
    --color-bg-secondary: rgb(75, 0, 150);
    --color-bg-danger: rgb(207, 48, 38);
    --color-bg-warn: rgb(207, 127, 8);
    --color-bg-success: rgb(42, 159, 71);
    --color-bg-info: rgb(72, 160, 200);

    --color-bg-primary-hover: rgba(28, 110, 183, 0.8);
    --color-bg-secondary-hover: rgba(75, 0, 150, 0.8);
    --color-bg-danger-hover: rgba(207, 48, 38, 0.8);
    --color-bg-warn-hover: rgba(207, 127, 8, 0.8);
    --color-bg-success-hover: rgba(42, 159, 71, 0.8);
    --color-bg-info-hover: rgba(72, 160, 200, 0.8);

    --color-text-base: rgb(229, 229, 229);
    --color-text-muted: rgb(153, 153, 153);
    --color-text-inverse: rgb(15, 15, 0);

    --color-border-base: rgb(104, 104, 104);
    --color-border-muted: rgb(70, 70, 70);

    --color-link-base: rgb(10, 132, 255);
    --color-link-hover: rgb(64, 156, 255);

    --color-tooltip-bg: rgb(44, 44, 46);

    --color-bg-back-top: rgb(174, 174, 174);
    --color-bg-back-top-hover: rgb(50, 50, 50);
}
