:root {
    --color-bg-base: rgb(234, 235, 237);
    --color-bg-card: rgb(255, 255, 255);

    --color-bg-header: rgb(230, 230, 230);
    --color-bg-footer: rgb(235, 235, 235);

    --color-primary-base: rgb(34, 139, 230);
    --color-secondary-base: rgb(128, 0, 128);
    --color-info-base: rgb(90, 200, 250);
    --color-success-base: rgb(52, 199, 89);
    --color-warn-base: rgb(255, 159, 10);
    --color-error-base: rgb(255, 59, 48);

    --color-bg-primary-base: rgb(34, 139, 230);
    --color-bg-secondary-base: rgb(128, 0, 128);
    --color-bg-info-base: rgb(90, 200, 250);
    --color-bg-success-base: rgb(52, 199, 89);
    --color-bg-warn-base: rgb(255, 159, 10);
    --color-bg-error-base: rgb(255, 59, 48);

    --color-bg-primary-hover: rgba(34, 139, 230, 0.8);
    --color-bg-secondary-hover: rgba(128, 0, 128, 0.8);
    --color-bg-info-hover: rgba(90, 200, 250, 0.8);
    --color-bg-success-hover: rgba(52, 199, 89, 0.8);
    --color-bg-warn-hover: rgba(255, 159, 10, 0.8);
    --color-bg-error-hover: rgba(255, 59, 48, 0.8);

    --color-text-base: rgb(33, 37, 41);
    --color-text-muted: rgb(108, 117, 125);
    --color-text-inverse: rgb(255, 255, 255);

    --color-border-base: rgb(189, 189, 189);
    --color-border-muted: rgb(217, 217, 217);

    --color-link-base: rgb(0, 123, 255);
    --color-link-hover: rgb(0, 86, 179);

    --color-tooltip-bg: rgb(0, 0, 0);

    --color-bg-back-top-base: rgb(230, 231, 234);
    --color-bg-back-top-hover: rgb(200, 201, 204);
}